.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0 0 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 800;
    font-size: 1.2rem;
    color: #FFD700;
}

.heading img {
    width: 24px;
    height: 24px;
}

.search {
    margin: 0;
    width: 100%;
    padding: .5rem 1rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
}

.coin-name {
    margin-left: -4rem;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px auto;
    padding: 10px 50px;
    color: #fff;
    background-color: #6900ff;
    opacity: .7;
    outline: none;
    text-decoration: none;
}

.load-more:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width:720px) {
    .hide-mobile {
        display: none;
    }
}